<!DOCTYPE html>
<html>
<head>
  <title>Pig Latin Translator</title>

</head>
<body>
<form method ="post" action="/result">
<label>input your text to translate</label>	<br>
<input type="text" name="text" class="small-3 columns"/>
<input type="submit" class="button"></form>
</body>
</html>