<div class="signupform">
	<form method="post" action="/signup" class="signupform">
	<h4>Sign Up:</h4>
	<div class="signuperror"></div>
	<label>Username:</label>
	<input type="text" name="username"><br><br>
	<label>Password:</label>
	<input type="password" name="password"><br><br>
	<input type="submit">
	</form>
</div>