<!DOCTYPE html>
<html>
<head>
<style media="screen" type="text/css">

body {
	padding: 20px;
	margin-left: 20px;
	text-align: center;
}
</style>
</head>
<body>
 <h3>How many different airlines are represented in this dataset?</h3><br>
 <p><%= @ans[0]["count"] %> airlines.</p>
</body>
</html>