<!DOCTYPE html>
<html>
<head>
<title>Airplane stuff</title>
<style media="screen" type="text/css">

body {
	padding: 20px;
	margin-left: 20px;
}

</style>
</head>
<body>


<h1>Airline Performance Database</h1>
Select a question to view the answer.<br><br>
<ol><li><a href="/airlines">How many different airlines are represented in this dataset?</a></li>
<li><a href="/q2">Which airline had the largest quantity of delayed arriving flights? Which had the fewest?</a></li>
<li><a href="/q3">Which departing airport had the highest number of delayed flights? Which had the fewest?</a></li>
<li><a href="/q4">Which arriving airport had the highest number of delayed flights? Which had the fewest?</a></li>
<li><a href='/q5'>What was the average number of minutes late across all airlines?</a></li>
<li>What was the average number of minutes late for each airline?</li>
</ol>

</body>
</html>