<!DOCTYPE html>
<html>
<head>
	<style media="screen" type="text/css">

body {
	padding: 20px;
	margin-left: 20px;
	text-align: center;
}
</style>
</head>
<body>
<h3>What was the average number of minutes late across all airlines? </h3>
<p><%= @ans %></p>

</body>
</html>